@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0px;
  padding: 0px;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-weight: 700;
}

.head-text span {
}

.app {
  width: 100%;
  height: 100vh;
  /* background-color: #f3f4f6; */

  /* @apply bg-gray-700; */
}
